services:

{% for host in groups['all'] %}
  test_{{ host }}:
    build: .
    image: {{ host }}:latest    
    container_name: test_{{ host }}
    hostname: test_{{ host }}
    restart: unless-stopped
    privileged: true
    networks:
      network:
        aliases:
          - test_{{ host }}
    labels:
      - dev.orbstack.domains=test_{{ host }}.local
{% endfor %}

networks:
  network: